*.DS_Store
build/
/.vs
.history/
/imprint/CMakeSettings.json
CMakeCache.txt
CMakeFiles/
imprintConfig.cmake
imprintConfigVersion.cmake
DartConfiguration.tcl
.env

/python/dist/
.spyproject/

# ignore rc because we are tracking generator now
.bazelrc 
bazel
bazel-*
.vagrant/
Vagrantfile
.idea/
compile_commands.json

# python stuff
__pycache__
*.pkl
*.lprof
*.prof
*.npy

# c++ extensions built in place within the source tree.
.rendered.*.cpp
*.so 

# bazel outputs
*pid*.log

# python packaging outputs
*.egg-info

# Codespaces
oryx-build-commands.txt
venv

# Cloud and AWS stuff
.terraform
.terraform.*
terraform.*

# explicitly ignore a file.
*.gitignore

# poetry.toml should not be committed because it will vary between machines
# (e.g. CI will want to use virtualenvs but locally we use conda)
poetry.toml
